.loader {
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db;
    border-radius: 50%;
    margin: 0 auto;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .loader2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }
  
  .loader2 span {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    animation: loading04 1s infinite;
  }
  
  @keyframes loading04 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(15px);
    }
  }
  